@media (min-width: 0px) and (max-width: 767px){
	.padding-rl{
		padding: 0 15px;
	}
	.navbar{
		padding: 0;
	}
	#header{
		background: #fff !important;
	}
	.header-home .navbar-buttonModal{
		display: none;
	}
	.navbar-brand{
		margin-right: 0;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: .5rem 1rem;
	}
	.navbar-brand img{
		width: 120px;
	}
	.header.header-home .icon-nav img{
		filter: brightness(0%);
		-webkit-filter: brightness(0%);
		-moz-filter: brightness(0%);
	}
	.iconNav-respon .icon-nav{
		margin-left: 5px;
		display: flex;
    	align-items: center;
	}
	.iconNav-respon .content-dropdownUser{
		margin-left: 5px;
	}
	.navbar-nav form{
		border-color: #000000;
	}
	.navbar-nav form input{
		color: #000 !important;
		width: 250px;
	}
	.navbar-nav form input::placeholder{
		color: #000 !important;
	}
	.modalInicio-content::before{
		left: 5%;
		width: 90%;
	}
	.navCollapse-respon{
		padding: 1rem;
	}
	.navbar-nav form button img{
		filter: brightness(0%);
		-webkit-filter: brightness(0%);
		-moz-filter: brightness(0%);
	}
	.dropdown-menu.show{
		right: -70px;
	}
	.hamburger--elastic.is-active .hamburger-inner{
		top: 5px;
	}
	.navbar.fixed{
		height: auto;
	}
	.hamburger-inner.js-hamburger::after, .hamburger-inner.js-hamburger, .hamburger-inner.js-hamburger:before{
		background: #000000;
	}
	.navbar-toggler{
		padding: 0;
	}
	.main-banner__text{
		top: 0%;
		width: 100%;
		padding: 0 !important;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.main-banner__subtitle{
		font-size: 25px;
		text-align: center;
		padding: 0;
	}
	.main-banner__title h1{
		font-size: 60px;
		text-align: center;
	}
	.main-banner__info{
		font-size: 18px;
		padding: 0 1rem;
	}
	.boton-banner{
		display: flex;
		padding-top: 3rem;
		padding-left: 0;
	}
	
	.main-categoria__title, .main-bestVendido__title, .main-upcycling__title, .main-about__title,
	.main-team__title{
		font-size: 45px;
	}
	.main-categoria__items{
		flex-direction: column;
		padding: 0 20px 30px;
	}
	.item-categoria__content{
		width: 100%;
		height: 300px;
		margin-bottom: 2rem;
	}
	.item-categoria__btn a{
		font-size: 16px;
		padding: 9px 30px;
	}
	.main-categoria__items::before{
		height: 50%;
	}
	.main-bestVendido__title{
		margin-bottom: 30px;
	}
	.main-bestVendido__card{
		position: static;
		height: auto;
		width: 100%;
	}
	.main-bestVendido__card--content{
		width: 100%;
	}
	.main-bestVendido__card--img{
		height: 330px;
	}
	.main-bestVendido__card--category{
		text-align: start;
		margin-top: .5rem;
	}
	.main-bestVendido__card--price{
		margin-top: 10px;
	}
	.main-bestVendido__card--btn{
		padding: 8px 0;
	}
	.main-bestVendido__item{
		padding-top: 0;
	}
	.main-bestVendido__slider--res .slick-dots li button:before{
		width: 18px;
		height: 17px;
		border: solid 1px #000000;
		border-radius: 50%;
		content: '';
	}
	.main-bestVendido__slider--res .slick-dots li.slick-active button:before{
		background: #000000;
		opacity: 1;
	}
	.main-bestVendido{
		padding: 45px 0;
	}
	.main-upcycling{
		height: 55vh;
	}
	.main-upcycling__text{
		padding: 0 1rem;
		font-size: 18px;
	}
	.main-upcycling__img{
		height: 100%;
	}
	.main-upcycling__img img{
		height: 100%;
		object-fit: cover;
	}
	.main-footer__content{
		grid-template-columns: 100%;
		padding: 30px;
	}
	.content-footer__text{
		margin-bottom: 2rem;
	}
	.content-footer__text--text{
		padding: 0;
	}
	.content-footer__text--text p{
		padding: 0 0 15px;
	}
	.content-footer__contact{
		padding: 0;
		margin-top: 2rem;
	}
	.header.fixed .collapse-fixed__content{
		display: none !important;
	}


	/*-- Quienes Somos --*/


	.main-bannerAbout, .registro{
		padding-top: 55px;
	}
	.main-bannerAbout__img img{
		object-position: 80% 40%;
	}
	.main-about__content.main-about__content{
		padding: 30px;
		flex-direction: column;
	}
	.main-about__img{
		display: none;
	}
	.main-about__img--content{
		width: 100%;
	}
	.main-about__item{
		padding: 0;
	}
	.main-about__img--content::before{
		display: none;
	}
	.main-about__title{
		margin-bottom: 30px;
		text-align: center;
	}
	.main-razonesAbout__title{
		font-size: 30px;
	}
	.main-razonesAbout__content{
		padding: 30px;
	}
	.main-razonesAbout__items{
		flex-direction: column;
	}
	.items-razonesAbout__content:first-child{
		padding-top: 0;
	}
	.items-razonesAbout__content::before{
		display: none;
	}
	.team-slider__content{
		padding: 0 10px;
	}
	.main-team__slider{
		margin: 0 20px;
	}
	.main-team__slider .slick-next{
		right: 0;
	}
	.main-team__slider .slick-prev{
		left: 0;
	}
	.main-team__content{
		padding-bottom: 30px;
	}
	.main-team__text{
		margin: 30px 0;
	}
	.main-about__text{
		font-size: 18px;
	}




	/*-- Registro --*/


	.main-registro__item{
		padding: 30px;
	}
	.main-registro__text{
		display: none;
	}
	.main-registro__form{
		padding: 30px;
		height: auto;
		width: 100%;
	}
	.main-registro__form--content input{
		width: 100% !important;
	}
	.main-registro__img--content img{
		object-position: 40% 50%;
	}
	.main-login__img--content img{
		object-position: 20% 50%;
	}



	/*-- Contáctanos --*/


	.bannerStatic{
		padding-top: 55px;
	}
	.main-bannerStatic__img img{
		object-position: 80% 50%;
	}
	.main-bannerStatic__content{
		height: 300px;
	}
	.main-contact__form, .main-contact__info{
		width: 100%;
	}
	.main-bannerStatic__text{
		font-size: 45px;
	}
	.main-contact__content{
		flex-direction: column-reverse;
		padding: 30px;
	}
	.main-contact__info{
		padding: 0;
		padding-bottom: 30px;
	}



	/*-- Categorías --*/


	.category{
		padding-top: 100px;
	}
	.main-category__title{
		font-size: 45px;
		margin-bottom: 30px;
		text-align: center;
	}
	.main-category__content{
		padding: 0 30px;
	}
	.main-category__item{
		flex-direction: column !important;
	}
	.main-category__text, .main-category__img{
		width: 100%;
		margin-bottom: 50px;
		height: 300px;
	}
	.main-category__text{
		padding: 0;
		margin: 0;
		height: auto;
		padding-bottom: 30px;
	}




	/*-- Terminos y Condiciones --*/


	.content-termsConditions{
		padding: 50px 30px 30px;

	}




	/*-- Vende Aquí --*/


	.vendeAqui{
		padding-top: 55px;
	}
	.main-vendeAqui__form{
		width: 90%;
		height: auto;
		padding: 50px 30px;
	}
	.vende-upcycling{
		margin-top: 30px;
	}
	.content-collapseVendeAqui{
		padding: 30px;
	}
	.content-collapseVendeAqui__form{
		padding: 30px;
	}



	/*-- Perfil del Vendedor --*/


	.main-navSeller{
		padding-top: 55px;
	}
	.main-navSeller__content{
		padding: 30px 30px 0;
		flex-direction: column;
		justify-content: center;
	}
	.main-navSeller__img{
		margin: 0;
	}
	.main-navSeller__items{
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}
	.item-navSeller__numbers--items span{
		font-size: 18px;
	}
	.item-navSeller__numbers--items{
		font-size: 10px;
		margin: 0 5px;	
	}
	.item-navSeller__stars{
		font-size: 15px;
		display: flex;
		justify-content: center;
	}
	.item-navSeller__sellers{
		display: flex;
		justify-content: center;
	}
	.item-navSeller__numbers{
		margin-top: 12px;
	}
	.main-navSeller__redes{
		flex-direction: column;
	}
	.main-navSeller__redes--follow{
		display: flex;
		justify-content: space-between;
	}
	.main-navSeller__redes--follow a{
		width: 48%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main-navSeller__redes--solic a{
		width: 100%;
		display: flex;
		margin-top: 10px;
		align-items: center;
		justify-content: center;
	}
	.main-listProducts__title{
		font-size: 45px;
	}
	.main-listProducts__content{
		padding: 0 30px;
	}
	.main-listProducts__item{
		width: 100%;
		margin-bottom: 40px;
	}
	.main-listProducts{
		margin-top: 38px;
	}



	/*-- 404 --*/


	.main-404{
		padding-top: 55px;
	}
	.main-404__img img{
		object-position: 20% 50%;
	}
	.main-404__text--number{
		font-size: 180px;
	}
	.main-404__text--btn a{
		padding: 14px 80px;
	}



	/*-- Single del Producto --*/


	.singleProducto--content{
		padding: 0 30px;
		flex-direction: column;
	}
	.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
		width: 100%;
		flex-direction: column;
	}
	.singleProducto--content .flex-viewport{
		width: 100% ;
	}
	.content-singleProducto .summary{
		width: 100%;
		padding: 0;
		position: relative;
	}
	.singleProducto--content form.cart button[type='submit']:not(#qib_id):not(#qib_id):not(_){
		width: 100%;
		padding: 14px;
	}
	.singleProducto-navSeller .main-navSeller__content{
		padding: 0 30px;
		align-items: center;
	}
	.singleProducto-navSeller .item-navSeller__numbers--items{
		font-size: 10px;
	}
	.navSeller-comments{
		flex-direction: column;
	}
	.navSeller-comments__content{
		padding: 0 30px;
		width: 100%;
	}
	.singleProducto--content figure img{
		height: 400px;
	}
	.singleProducto--content ol{
		width: max-content;
		height: auto;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-top: 2rem;
	}
	.yith-wcwl-add-to-wishlist{
		position: absolute;
		top: 0px;
		right: 0;
	}
	.singleProducto-navSeller .main-navSeller__content::before{
		height: 250px;
	}
	.singleProducto-navSeller .navSeller-comments__items{
		flex-direction: column;
    	align-items: center;
	}
	.singleProducto-navSeller .navSeller-comments__btn a{
		width: 100%;
		padding: 13px;
		text-align: center;
	}
	.singleProducto-navSeller .navSeller-comments__btn{
		width: 100%;
		display: flex;
		margin-top: 2rem;
	}
	.slider-listProducts__content .slick-list.draggable{
		margin: 0 30px;
	}
	.slider-listProducts__content .slick-next{
		right: 30px;
	}
	.slider-listProducts__content .slick-prev{
		left: 20px;
	}
	.slider-listProducts__content .main-listProducts__item{
		margin: 0;
	}
	.navSeller-comments__title{
		text-align: center;
	}
	



	/*-- Carrito --*/


	#\31 1 > div{
		padding: 50px 30px;
	}
	.contentCart{
		flex-direction: column;
	}
	.contentCart .woocommerce-cart-form{
		width: 100%;
		padding: 0;
	}
	.woocommerce table.shop_table{
		display: flex;
	}
	.woocommerce table.shop_table tbody{
		width: 100%;
	}
	.woocommerce table.shop_table tbody tr{
		position: relative;
	}
	.woocommerce table.shop_table tbody tr td.product-remove{
		position: absolute;
		top: 0;
		right: 0;
	}
	.woocommerce .contentCart a.remove{
		width: 30px;
		height: 30px;
	}
	.woocommerce table.shop_table tbody tr td.product-thumbnail{
		display: block;
		text-align: start !important;
	}
	.woocommerce table.shop_table tbody tr td.product-thumbnail::before{
		display: none;
	}
	.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img{
		width: 150px;
	}
	.woocommerce table.shop_table td.product-name dl{
		font-size: 13px;
	}
	.woocommerce table.shop_table td.product-name a{
		font-size: 13px;
	}
	.woocommerce table.shop_table tbody tr td.product-quantity{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.woocommerce table.shop_table .actions a{
		padding: 14px;
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
	}
	.woocommerce table.shop_table .actions button{
		padding: 14px !important;
		width: 100%;
	}
	.woocommerce .contentCart .cart-collaterals, .woocommerce-page .contentCart .cart-collaterals{
		width: 100%;
	}
	.woocommerce table.shop_table td.actions{
		padding: 30px 0 0 !important;
	}
	.woocommerce .cart_totals table.shop_table tr td{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.woocommerce .cart_totals table.shop_table tr td{
		padding: 16px !important;
	}
	



	/*-- Checkout --*/


	.checkout.woocommerce-checkout .this-flex{
		flex-direction: column-reverse;
	}
	.checkout-col{
		width: 100%;
		padding: 30px 0;
	}
	#customer_details{
		padding: 0 20px;
	}
	.woocommerce-checkout-review-order .product-name img{
		width: 100px;
		margin-right: .5rem;
	}
	.woocommerce .woocommerce-checkout-review-order .product-name{
		padding: 10px 0 !important;
	}
	.woocommerce-checkout-review-order table{
		padding: 0 20px;
	}
	.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
		padding: 14px;
	}
	.woocommerce-checkout-review-order .product-name.image-product img{
		width: 100%;
		margin: 0;
	}





}



@media (min-width: 767px) and (max-width: 991px){
	.padding-rl{
		padding: 0 15px;
	}
	.navbar{
		padding: 0;
	}
	#header{
		background: #fff;
	}
	.navbar-buttonModal{
		display: none;
	}
	.navbar-brand{
		margin-right: 0;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
	.navbar-brand img{
		width: 250px;
	}
	.iconNav-respon .icon-nav img{
		filter: brightness(0%);
		-webkit-filter: brightness(0%);
		-moz-filter: brightness(0%);
	}
	.iconNav-respon .icon-nav{
		margin-left: 5px;
		display: flex;
    	align-items: center;
	}
	.iconNav-respon .content-dropdownUser{
		margin-left: 5px;
	}
	.navbar-nav form{
		border-color: #000000;
	}
	.navbar-nav form input{
		color: #000 !important;
		width: 250px;
	}
	.navbar-nav form input::placeholder{
		color: #000 !important;
	}
	.modalInicio-content::before{
		left: 5%;
		width: 90%;
	}
	.offcanvas-collapse.open{
		top: 70px;
	}
	.navCollapse-respon{
		padding: 1rem;
	}
	.navbar-nav form button img{
		filter: brightness(0%);
		-webkit-filter: brightness(0%);
		-moz-filter: brightness(0%);
	}
	.dropdown-menu.show{
		right: -70px;
	}
	.hamburger--elastic.is-active .hamburger-inner{
		top: 5px;
	}
	.navbar.fixed{
		height: auto;
	}
	.hamburger-inner.js-hamburger::after, .hamburger-inner.js-hamburger, .hamburger-inner.js-hamburger:before{
		background: #000000;
	}
	.navbar-toggler{
		padding: 0;
	}
	.banner{
		padding-top: 6rem;
	}
	.main-banner__text{
		top: 0%;
		width: 100%;
		padding: 0 !important;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.main-banner__subtitle{
		text-align: center;
		padding: 0;
	}
	.main-banner__title h1{
		font-size: 70px;
		text-align: center;
	}
	.main-banner__info{
		padding: 0 5rem;
		text-align: center;
	}
	.boton-banner{
		display: flex;
		padding-top: 3rem;
		padding-left: 0;
	}
	.main-banner__content .slick-next{
		right: 15px;
	}
	.main-banner__content .slick-prev{
		left: 15px;
	}
	
	.main-categoria__title, .main-bestVendido__title, .main-upcycling__title{
		font-size: 45px;
		margin-bottom: 0;
	}
	.main-categoria__items{
		flex-wrap: wrap;
		padding: 0 20px 30px;
		justify-content: center;
	}
	.item-categoria__content{
		width: 300px;
		height: 300px;
		margin: 2rem;
	}
	.item-categoria__btn a{
		font-size: 16px;
		padding: 9px 30px;
	}
	.main-categoria__items::before{
		height: 50%;
	}
	.main-bestVendido__title{
		margin-bottom: 30px;
	}
	.main-bestVendido__card{
		position: static;
		height: auto;
		width: 100%;
	}
	.main-bestVendido__card--content{
		width: 100%;
	}
	.main-bestVendido__card--img{
		height: 330px;
	}
	.main-bestVendido__card--category{
		text-align: start;
		margin-top: .5rem;
	}
	.main-bestVendido__card--price{
		margin-top: 10px;
	}
	.main-bestVendido__card--btn{
		padding: 8px 0;
	}
	.main-bestVendido__item{
		padding-top: 0;
	}
	.main-bestVendido__slider--res .slick-dots li button:before{
		width: 18px;
		height: 17px;
		border: solid 1px #000000;
		border-radius: 50%;
		content: '';
	}
	.main-bestVendido__slider--res .slick-dots li.slick-active button:before{
		background: #000000;
		opacity: 1;
	}
	.main-bestVendido{
		padding: 45px 0;
	}
	.main-upcycling{
		height: 55vh;
	}
	.main-upcycling__text{
		padding: 0 1rem;
		font-size: 18px;
	}
	.main-upcycling__img{
		height: 100%;
	}
	.main-upcycling__img img{
		height: 100%;
		object-fit: cover;
	}
	.main-footer__content{
		grid-template-columns: 33% 33% 33%;
		padding: 30px;
	}
	.content-footer__text{
		margin-bottom: 2rem;
	}
	.content-footer__text--text{
		padding: 0;
	}
	.content-footer__text--text p{
		padding: 0 0 15px;
	}
	.content-footer__contact{
		padding: 0;
		padding-left: 35px;
	}
	.content-footer__menu{
		padding-left: 35px;
	}
	.content-footer__menu--content a{
		margin-bottom: 24px;
	}
	.header.fixed .collapse-fixed__content{
		display: none !important;
	}


	/*-- Quienes Somos --*/


	.main-razonesAbout__items{
		flex-wrap: wrap;
		justify-content: center;
	}
	.main-about__content{
		flex-direction: column;
		padding: 50px;
	}
	.main-about__img{
		display: none;
	}
	.main-about__item{
		padding: 0;
	}
	.main-about__title{
		text-align: center;
	}
	.main-razonesAbout__content{
		padding: 50px 0;
	}
	.items-razonesAbout__content{
		width: 50%;
	}
	.items-razonesAbout__content::before{
		display: none;
	}
	.main-team__slider{
		margin: 0 30px;
	}



	/*-- Registro --*/



	.main-registro__item{
		padding: 50px;
		flex-direction: column;
	}
	.main-registro__text{
		width: 100%;
	}
	.main-registro__subtitle{
		font-size: 25px;
	}
	.main-registro__title h1{
		font-size: 50px;
	}
	.main-registro__form{
		padding: 50px;
		width: 100%;
		height: auto;
	}
	.main-registro__form--content input{
		width: 100% !important;
	}



	/*-- Contáctanos --*/


	.main-contact__form, .main-contact__info{
		width: 100%;
	}
	.main-contact__content{
		flex-direction: column-reverse;
		padding: 50px;
	}
	.main-contact__info{
		padding: 0;
		padding-bottom: 50px;
	}
	.main-contact__redes{
		display: flex;
	}
	.main-contact__redes--item{
		width: 33.33%;
	}



	/*-- Categorías --*/


	.category{
		padding-top: 100px;
	}
	.main-category__text{
		padding: 0 10px;
	}
	.main-category__text, .main-category__img{
		height: 350px;
	}



	/*-- Terminos y Condiciones --*/


	.content-termsConditions{
		padding: 80px 50px 50px;

	}

	
	/*-- Vende Aquí --*/


	.main-vendeAqui__form{
		width: 80%;
		padding: 100px 50px 60px;
	}
	.content-collapseVendeAqui{
		padding: 50px;
	}
	.content-collapseVendeAqui__form{
		padding: 50px;
	}



	/*-- Perfil del Vendedor --*/


	.main-navSeller{

		padding-top: 100px;
	}
	.main-navSeller__img{
		margin: 0;
	}
	.main-navSeller__content{
		padding: 12px 50px 0;
		flex-direction: column;
	}
	.main-navSeller__items{
		flex-direction: column;
		align-items: center;
	}
	.item-navSeller__sellers{
		display: flex;
		justify-content: center;
		margin-bottom: 12px;
	}
	.item-navSeller__numbers--items{
		margin-left: 0;
		margin: 0 10px;
	}
	.main-listProducts__content{
		padding: 0 50px;
		justify-content: space-around;
	}




	/*-- Single del Producto --*/


	.singleProducto--content{
		padding: 0 30px;
	}
	.content-singleProducto .summary{
		padding-left: 30px;
		width: 40%;
		position: relative;
	}
	.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
		width: 60%;
	}
	.singleProducto--content .flex-viewport{
		width: 400px;
	}
	.singleProducto--content figure img{
		height: 500px;
	}
	.singleProducto--content ol{
		height: 500px;
	}
	.singleProducto--content ol li{
		margin-bottom: 30px;
	}
	.singleProducto--content form.cart button[type='submit']:not(#qib_id):not(#qib_id):not(_){
		padding: 14px;
		width: 100%;
	}
	.yith-wcwl-add-to-wishlist{
		position: absolute;
		top: 0;
		right: 0px;
	}
	.singleProducto-navSeller .main-navSeller__content{
		padding: 0 30px 10px;
		flex-direction: row;
	}
	.singleProducto-navSeller .main-navSeller__items{
		flex-direction: row;
	}
	.singleProducto-navSeller .item-navSeller__numbers--items{
		font-size: 15px;
	}
	.singleProducto-navSeller .main-navSeller__img{
		width: 140px;
		height: 140px;
		margin-right: 16px;
	}
	.singleProducto-navSeller .main-navSeller__text{
		padding: 0;
	}
	.navSeller-comments__content{
		padding-left: 1rem;
	}
	.navSeller-comments__btn{
		display: flex;
		width: 35%;
	}
	.navSeller-comments__btn a{
		width: 100%;
		text-align: center;
		padding: 13px;
	}
	.slider-listProducts__content .slick-list.draggable{
		margin: 0 50px;
	}
	.slider-listProducts__content .slick-prev{
		left: 40px;
	}



	/*-- Carrito --*/


	#\31 1 > div{
		padding: 80px 50px 50px;
	}
	.woocommerce table.shop_table tbody tr{
		position: relative;
	}
	.woocommerce table.shop_table tbody tr td.product-remove{
		position: absolute;
		top: 0;
		right: 0;
	}
	.woocommerce .contentCart a.remove{
		width: 30px;
		height: 30px;
	}
	.woocommerce table.shop_table tbody tr td.product-thumbnail{
		display: block;
		text-align: start !important;
	}
	.woocommerce table.shop_table tbody tr td.product-thumbnail::before{
		display: none;
	}
	.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img{
		width: 180px;
	}
	.woocommerce table.shop_table td.product-name dl{
		font-size: 13px;
	}
	.woocommerce table.shop_table td.product-name a{
		font-size: 13px;
	}
	.woocommerce table.shop_table tbody tr td.product-quantity{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.woocommerce table.shop_table .actions a{
		padding: 14px;
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
		display: flex;
		justify-content: center;
	}
	.woocommerce table.shop_table .actions button{
		padding: 14px !important;
		width: 100%;
	}
	.woocommerce .contentCart .cart-collaterals, .woocommerce-page .contentCart .cart-collaterals{
		width: 250px;
	}
	.woocommerce table.shop_table td.actions{
		padding: 30px 0 0 !important;
	}
	.woocommerce .cart_totals table.shop_table tr td{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.woocommerce .cart_totals table.shop_table tr td{
		padding: 16px !important;
	}
	.contentCart .woocommerce-cart-form{
		width: 70%;
		padding-right: 30px;
	}




	/*-- Checkout --*/


	.checkout.woocommerce-checkout .this-flex{
		flex-direction: column-reverse;
	}
	.checkout-col{
		width: 100%;
		padding: 30px 0;
	}
	#customer_details{
		padding: 0 40px;
	}
	.woocommerce-checkout-review-order table{
		padding: 0 40px;
	}
	




}



@media (min-width: 992px) and (max-width: 1199px){
	.main-banner__text{
		width: 85%;
	}
	.main-categoria__title{
		margin-top: 30px;
	}
	.item-categoria__content{
		width: 300px;
	}
	.item-categoria__btn a{
		padding: 8px 20px;
	}
	.main-bestVendido__slider .slick-list.draggable{
		padding: 0 220px !important;
	}
	.main-bestVendido__card{
		z-index: 2;
	}
	.main-bestVendido__slider .slick-next{
		right: 120px;
	}
	.main-bestVendido__slider .slick-prev{
		left: 120px;
	}
	.main-upcycling__text{
		padding: 0 8rem;
	}
	.content-footer__text--text{
		padding-right: 0;
	}	
	.content-footer__menu, .content-footer__contact{
		padding-left: 40px;
	}
	.main-about__content{
		padding: 50px;
	}
	.main-about__item{
		padding-left: 50px;
	}
	.main-registro__item{
		padding: 50px;
	}
	.main-brand{
		width: 200px;
	}
	.main-brand a img{
		width: 100%;
	}
	.header{
		height: 100px;
	}
	.navbar{
		height: 100%;
	}
	.main-contact__info{
		padding-left: 100px;
	}
	.main-category__text{
		padding: 0 40px;
	}
	.content-collapseVendeAqui{
		padding: 60px 100px;
	}
	.content-collapseVendeAqui__form{
		padding: 50px 100px;
	}
	.main-navSeller__content{
		padding: 12px 50px 0;
	}
	.main-listProducts__content{
		padding: 0 70px;
	}
	.content-singleProducto .summary{
		padding-left: 30px;
	}
	.singleProducto--content{
		padding: 0 30px;
	}
	.singleProducto--content .flex-viewport{
		width: 380px;
	}
	.singleProducto-navSeller .main-navSeller__content{
		padding: 12px 50px 10px;
	}
	.navSeller-comments__btn{
		display: flex;
		width: 35%;
	}
	.navSeller-comments__btn a{
		width: 100%;
		text-align: center;
		padding: 13px;
	}
	.slider-listProducts__content .slick-list.draggable{
		margin: 0 80px;
	}
	.slider-listProducts__content .slick-prev{
		left: 40px;
	}
	#\31 1 > div{
		padding: 100px 50px;
	}
	.contentCart .woocommerce-cart-form{
		padding-right: 30px;
	}
	.woocommerce .contentCart .cart-collaterals, .woocommerce-page .contentCart .cart-collaterals{
		width: 260px;
	}
	.woocommerce table.shop_table .actions a{
		padding: 14px 80px;
	}
	.woocommerce table.shop_table .actions button{
		padding: 14px 80px !important;
	}
	.woocommerce-checkout-review-order{
		padding: 72px 50px 0;
	}
	#customer_details{
		padding-left: 50px;
	}
	.woocommerce-checkout-review-order .product-name img{
		width: 120px;
	}
	.woocommerce-checkout-review-order .product-name.image-product img{
		width: 380px;
	}
}




